<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="SenalesCaribeConnection"
        connectionString="Server=82a76c3b-0e05-499e-95b9-a1e9012c21d8.sqlserver.sequelizer.com;Database=db82a76c3b0e05499e95b9a1e9012c21d8;User ID=ikqdiqwyrvwjsuhi;Password=nuFboiEK7bvsRTteHrHcf7vkWyBgEBXivhmhxmJm4cisrJq6FWWAnqoo7vnXNxfD;"
        providerName="System.Data.SqlClient" />
		
		<!-- <add name="SenalesCaribeConnection"
        connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=WR_SenalesCaribe;User ID=wr_senales;Password=caribe123"
        providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="50000" />
    </authentication>
    <authorization>
      <allow users="*" />
      <!--<deny users="?" />-->
    </authorization>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
